<!DOCTYPE HTML>
<html>
<head>
	<title>boot handlebars</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-witdh, initial-scale=1" />
</head>

<body>
	<h1>start spring-boot</h1>
</body>
</html>